/*clear floats*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

/*some tags*/
em, i, strong {
  font-style: normal;
  font-weight: 400;
}

/*focus*/
:focus {
  outline: none;
}

/*yahoo css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

//=====================================================================
//eat chickenCutlet
html, body {
  background: #000;
  height: 100%;
  margin: 0;
  width: 100%;
  position: relative;
}

@media screen and (min-device-width: 320px) {
  body .wrapper {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-device-width: 320px) and (max-device-width: 480px) {
  body .wrapper {
    width: 240px;
    margin: 0 auto;
  }
  .result-box .act-info {
    font-size: 1.3em;
  }
}

@media screen and (device-width: 320px) and (device-height: 568px) {
  body .wrapper {
    width: 280px;
    margin: 0 auto;
  }
}

@mixin borderRadius($val: 13px) {
  border-radius: $val;
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -o-border-radius: $val;
}

body {
  font-family: "microsoft yahei";
  font-size: 12px;
  background-color: #000;
  .cover{
    position: fixed;
    top:0;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 3000;
    .spinner {
      width: 60px;
      height: 60px;
      position: absolute;
      left:50%;
      top:50%;
      margin-left: -30px;
      margin-top: -30px;
    }
    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #67CF22;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: bounce 2.0s infinite ease-in-out;
      animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }
  .wrapper {
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    margin: 0 auto;
    .topbar {
      padding-top: (38/24)+em;
      img, span, div {
        vertical-align: middle;
      }
      .pro-icon {
        margin-left: (40/24)+em;
        width: (47/640)*100%;
      }
      .pro-num {
        font-size: (36/24)+em;
        color: #fff;
        margin-top: (58/24)+em;
        margin-left: (42/640)*100%;
        margin-left: 6px;
        font-family: "microsoft yahei";
        i {
          font-family: "helvetica";
          font-size: (24/36)+em;
        }
      }
      .progress-bar {
        margin-left: (35/24)+em;
        background-color: #fff;
        border: 2px solid #fff;
        width: (380/640)*100%;
        height: (24/24)+em;
        @include borderRadius(13px);
        display: inline-block;
        .progress {
          width: 100%;
          background-color: #68c946;
          height: 100%;
          @include borderRadius(10px);
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      .player {
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
        .normal-part {
          .heads {
            position: absolute;
            width: (554/640)*100%;
            left: 50%;
            margin-left: -(277/640)*100%;
            top: -(530/434)*100%;
          }
          .results-face{
            img{
              z-index:500;
            }
            .low-score{
              position: absolute;
              width: (554/640)*100%;
              left:50%;
              margin-left: -(277/640)*100%;
              top:-(534/434)*100%;
            }
            .middle-score{
              position: absolute;
              width: (604/640)*100%;
              left:50%;
              margin-left: -(302/640)*100%;
              top:-(534/434)*100%;
            }
            .high-score{
              position: absolute;
              width: (554/640)*100%;
              left:50%;
              margin-left: -(277/640)*100%;
              top:-(534/434)*100%;
            }
          }
          .logo{
            width: (179/640)*100%;
            position: absolute;
            left: 50%;
            margin-left: -(89/640)*100%;
            top:17%;
            z-index:300;
          }
          .result-title{
            width: (400/640)*100%;
            position: absolute;
            left: 50%;
            top:(68/434)*100%;
            margin-left: -(400/1280)*100%;
            z-index: 1500;
            img{
              width: 100%;
            }
          }
          .result-info{
            text-align: center;
            top:(304/434)*100%;
            position: absolute;
            font-size: 20px;
            color:#ee2b05;
            width: 100%;
            font-weight: bold;
            text-stroke: 1px #fff;
            -webkit-text-stroke: 1px #fff;
            -moz-text-stroke: 1x #fff;
            -o-text-stroke: 1 #fff;
            text-shadow: 0px 0px 10px #FFF;
            -webkit-text-shadow: -2px 2px 6px #FFF;
            -moz-text-shadow: -2px 2px 6px #FFF;
            -o-text-shadow: -2px 2px 6px #FFF;
            text-shadow: -1px 0px 2px #FFF;
            .result-text{

            }
            p{

            }
          }
          .body {
            width: 100%;
            bottom: 0px;
          }
          .hands{
            position: absolute;
            top:-(16/434)*100%;
            width: 100%;
            z-index:700;
            .arm{
              position: relative;
            }
            .normal-hands{
              position: absolute;
              width: (464/640)*100%;
              left:50%;
              margin-left:-(232/640)*100%;
            }
            .step{
              width: 100%;
             /* left hand eat*/
              .left-hands-1{
                position: absolute;
                left: (112/640)*100%;
                width: (208/640)*100%;
                .cutlet{
                  position: absolute;
                  top: -(55/208)*100%;
                  right: -(27/208)*100%;
                  width: (91/208)*100%;
                  z-index: 400;
                }
                .arm{
                  width: 100%;
                  z-index: 440;
                }
              }
              /* right hands keep*/
              .right-hands-1{
                position: absolute;
                left: (306/640)*100%;
                width: (228/640)*100%;
                .cutlet{
                  position: absolute;
                  top: (65/228)*100%;
                  left: -(14/228)*100%;
                  width: (84/228)*100%;
                  z-index: 400;
                }
                .arm{
                  width: 100%;
                  z-index: 440;
                }
              }
              //324 105
              .left-hands-4{
                position: absolute;
                left: (105/640)*100%;
                width: (228/640)*100%;
                .cutlet{
                  position: absolute;
                  top: (60/202)*100%;
                  left: (172/228)*100%;
                  width: (84/228)*100%;
                  z-index: 400;
                }
                .arm{
                  width: 100%;
                  z-index: 440;
                }
              }
              .right-hands-4{
                position: absolute;
                left: (324/640)*100%;
                width: (206/640)*100%;
                .cutlet{
                  position: absolute;
                  top: -(59/209)*100%;
                  left: -(16/206)*100%;
                  width: (90/206)*100%;
                  z-index: 400;
                }
                .arm{
                  width: 100%;
                  z-index: 440;
                }
              }
            }
          }
        }
      }
      .desk-box {
        position: absolute;
        bottom: 0;
        font-size: 0px;
        z-index: 800;
        .desk {
          width: 100%;
          -webkit-transition:all 1s ease-in-out;
          -moz-transition:all 1s ease-in-out;
          -o-transition:all 1s ease-in-out;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
        }
        img.deskNormal{
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -o-transform: translateY(0px);
          transform: translateY(0px);
        }
        .steamer{
          top: -180%;
          width: (295/640)*100%;
          margin-left: -(295/1280)*100%;
          left:50%;
          position: absolute;
          opacity: 0;
          -webkit-transition:all 1s ease-in-out;
          -moz-transition:all 1s ease-in-out;
          -o-transition:all 1s ease-in-out;
          transition:all 1s ease-in-out;
          z-index: 500;
        }
        img.steamerNormal{
          top: -(90/137)*100%;
          opacity: 1;
        }
        .eat-btn {
          position: absolute;
          left: 50%;
          margin-left: -(190/640)*100%;
          top: -(80/137)*100%;
          width: (380/640)*100%;
          z-index: 1000;
          img{
            width: 100%;
          }
        }


        .mail {
          position: absolute;
          bottom: 2px;
          width: 100%;
          text-align: center;
        }
      }
    }
    .result-box {
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 100%;
      z-index: 1000;
      .bg {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        background: #000;
        opacity: 0;
        filter: alpha(opacity=0);

      }
      .share{
        position: absolute;
        right: 10%;
        top:10%;
        width: 40%;
        img{
          width: 100%;
        }
      }
      .again{
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -21%;
        top: 79%;
        img{
          width: 100%;
        }
      }
      .point-hand{
        position: absolute;
        width: 7%;
        left: 91%;
        top: 12%;
        animation:handshake .8s ease-out infinite;
        -moz-animation:handshake .8s ease-out infinite;
        -webkit-animation:handshake .8s ease-out infinite;
        img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and(min-device-width:320px){
body .wrapper{
  width: 320px;
  margin: 0 auto;
}
}
@media screen and(device-width:320px){
body .wrapper{
  width: 240px;
  margin: 0 auto;
}
}
@keyframes handshake{
  0%   {top:12%;}
  25%  {top:11%;}
  50%  {top:10%;}
  75%  {top:11%;}
  100% {top:12%;}
}
@-webkit-keyframes handshake{
  0%   {top:12%;}
  25%  {top:11%;}
  50%  {top:10%;}
  75%  {top:11%;}
  100% {top:12%;}
}
@-moz-keyframes handshake{
  0%   {top:12%;}
  25%  {top:11%;}
  50%  {top:10%;}
  75%  {top:11%;}
  100% {top:12%;}
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}