.wapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden; }
  .wapper .page {
    position: absolute;
    width: 100%;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in; }
    .wapper .page .go-detail {
      width: 28px;
      height: 28px;
      text-indent: -200px;
      background-image: url("../images/detailBtn.png");
      background-position: center center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      overflow: hidden;
      cursor: pointer; }
  .wapper .cover {
    z-index: 1200;
    background: #f6f1de url("../images/sgCoverBg.png") repeat-y;
    background-position: top right;
    background-size: 69.21875% auto;
    -moz-transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; }
    .wapper .cover .title {
      text-align: center;
      padding-top: 0.75em; }
      .wapper .cover .title img {
        width: 85.9375%; }
    .wapper .cover .content {
      margin-top: 0.66667em;
      text-align: left; }
      .wapper .cover .content img {
        width: 95.15625%; }
    .wapper .cover .bottom {
      position: absolute;
      bottom: 0.75em;
      width: 100%; }
      .wapper .cover .bottom .logo {
        width: 30.46875%;
        bottom: 0.3em;
        position: absolute;
        margin-left: 0.5em; }
      .wapper .cover .bottom .text {
        float: right;
        vertical-align: bottom;
        text-align: right;
        margin-right: 0.79167em; }
        .wapper .cover .bottom .text p {
          font-size: .7em;
          line-height: 2em;
          color: #000000; }
  .wapper .scaleHidden {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  .wapper .pages {
    z-index: 800;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    .wapper .pages .pageBox {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      overflow-y: auto; }
    .wapper .pages .rightSlider {
      position: fixed;
      z-index: 1100;
      width: 100%;
      top: 0;
      bottom: 0; }
      .wapper .pages .rightSlider .alphaBg {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); }
      .wapper .pages .rightSlider .detailConent {
        position: absolute;
        width: 62.8125%;
        height: 100%;
        overflow-y: auto;
        background: #fff;
        top: 0;
        right: -62.8125%;
        -moz-transform-origin: center right;
        -webkit-transform-origin: center right;
        -o-transform-origin: center right;
        transform-origin: center right;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out; }
        .wapper .pages .rightSlider .detailConent .closeBtn {
          width: 20.5px;
          height: 20.5px;
          top: 9px;
          left: 8px;
          position: absolute; }
        .wapper .pages .rightSlider .detailConent .addFav {
          width: 44px;
          height: 44px;
          position: absolute;
          right: 5px;
          bottom: 0px; }
        .wapper .pages .rightSlider .detailConent .prod {
          width: 62.18905%;
          margin: 2.5em auto 0;
          line-height: 1.5em;
          font-size: 1em; }
          .wapper .pages .rightSlider .detailConent .prod .pimg img {
            width: 100%; }
          .wapper .pages .rightSlider .detailConent .prod .ptitle {
            font-size: 1em; }
          .wapper .pages .rightSlider .detailConent .prod .pprice strong {
            color: #f29c07;
            font-size: 1.5em; }
        .wapper .pages .rightSlider .detailConent .ptext {
          margin: 0.625em 8px 0px;
          border-top: 1px solid #ece9e9;
          padding-top: 0.41667em;
          line-height: 1.5em;
          color: #8e8e8e;
          font-size: 0.91667em; }
          .wapper .pages .rightSlider .detailConent .ptext .dis {
            margin-top: 0.83333em; }
  .wapper .favPage {
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    width: 100%;
    -moz-transform-origin: center right;
    -webkit-transform-origin: center right;
    -o-transform-origin: center right;
    transform-origin: center right;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: url("../images/fav-bg.png") repeat; }
    .wapper .favPage .listbox {
      background: url("../images/fav-bg.png") repeat;
      overflow-y: auto; }
      .wapper .favPage .listbox .list li {
        width: 50%;
        float: left;
        font-size: 1em;
        height: 12.25em;
        position: relative; }
        .wapper .favPage .listbox .list li .info {
          color: #000;
          text-align: right;
          position: absolute;
          top: 1.33333em;
          right: 1.33333em; }
          .wapper .favPage .listbox .list li .info .tr {
            font-size: 1.5em;
            color: #f9930e; }
            .wapper .favPage .listbox .list li .info .tr i {
              font-family: "Georgia"; }
  .wapper .catelog {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%; }
  .wapper .showpretty, .wapper .catelog {
    position: absolute;
    -moz-transform-origin: center left;
    -webkit-transform-origin: center left;
    -o-transform-origin: center left;
    transform-origin: center left;
    transition: transform .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; }
  .wapper .catelog {
    z-index: 900;
    background: #fff; }
    .wapper .catelog .title {
      text-align: center;
      padding-top: 1.75em;
      width: 81.25%;
      max-width: 260px;
      margin: 0 auto;
      position: relative; }
      .wapper .catelog .title .title-content {
        position: absolute;
        vertical-align: top;
        transform-origin: top left;
        width: 2.88462%;
        right: -3.84615%;
        -webkit-transform: rotateZ(-90deg);
        -moz-transform: rotateZ(-90deg);
        -o-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .wapper .catelog .title .c-rotate {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg); }
    .wapper .catelog .list {
      margin-top: 2.5em;
      font-size: 12px;
      text-align: center;
      position: relative; }
      .wapper .catelog .list ul {
        margin: auto;
        width: 4em; }
        .wapper .catelog .list ul li {
          margin-top: 1.41667em;
          position: relative; }
          .wapper .catelog .list ul li .detail {
            font-size: 1em;
            padding: 0.58333em 0;
            border: 1px solid #a09f9f;
            position: absolute;
            line-height: 1.33333em;
            background: #fff;
            color: #5e5e5e; }
          .wapper .catelog .list ul li .detail1 {
            position: absolute;
            left: 3.33333em;
            width: 6.66667em;
            z-index: 50;
            top: -0.79167em;
            text-align: left; }
            .wapper .catelog .list ul li .detail1 p {
              margin-left: 1.25em; }
          .wapper .catelog .list ul li .detail2 {
            position: absolute;
            left: -9.29167em;
            width: 9.04167em;
            z-index: 50;
            top: 3%;
            text-align: right; }
            .wapper .catelog .list ul li .detail2 p {
              margin-right: 0.75em; }
          .wapper .catelog .list ul li .detail3 {
            position: absolute;
            left: -9.875em;
            width: 9.625em;
            z-index: 50;
            top: 17%;
            text-align: right; }
            .wapper .catelog .list ul li .detail3 p {
              margin-right: 0.75em; }
          .wapper .catelog .list ul li .detail4 {
            position: absolute;
            left: 3.33333em;
            width: 9.95833em;
            z-index: 50;
            top: -0.79167em;
            text-align: left; }
            .wapper .catelog .list ul li .detail4 p {
              margin-left: 1.25em; }
          .wapper .catelog .list ul li .detail5 {
            position: absolute;
            left: 3.33333em;
            width: 6.58333em;
            z-index: 50;
            top: 16%;
            text-align: left; }
            .wapper .catelog .list ul li .detail5 p {
              margin-left: 1.25em; }
          .wapper .catelog .list ul li .item-img {
            position: absolute;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }
          .wapper .catelog .list ul li .item-img1 {
            top: 1.3em;
            left: 2.25em;
            width: 11.08333em;
            z-index: 40;
            max-width: 180px; }
          .wapper .catelog .list ul li .item-img1Active {
            top: 1.3em;
            left: 3.5em;
            width: 11.08333em;
            z-index: 40;
            max-width: 180px;
            opacity: 1 !important; }
          .wapper .catelog .list ul li .item-img2 {
            top: 0.66667em;
            right: 1.20833em;
            width: 8.66667em;
            z-index: 70;
            top: -37%;
            max-width: 140px; }
          .wapper .catelog .list ul li .item-img2Active {
            top: 0.66667em;
            right: 2.875em;
            width: 8.66667em;
            z-index: 70;
            top: -37%;
            max-width: 140px;
            opacity: 1 !important; }
          .wapper .catelog .list ul li .sn {
            z-index: 60;
            width: 4em;
            height: 4em;
            display: inline-block;
            text-align: center;
            font-size: 12px;
            position: relative; }
            .wapper .catelog .list ul li .sn span {
              display: inline-block;
              height: 2em;
              width: 2em;
              background: #fff;
              font-size: 1em;
              color: #797070;
              border: 1px solid #797070;
              border-radius: 2em;
              -webkit-border-radius: 2em;
              -moz-border-radius: 2em;
              -o-border-radius: 2em;
              margin-top: 25%;
              line-height: 2em; }
            .wapper .catelog .list ul li .sn .special {
              margin-top: 0%;
              height: 1.6em;
              width: 1.6em;
              line-height: 1.6em;
              background: #000;
              font-size: 2.5em;
              color: #fff;
              border: 0 none;
              border-radius: 1.6em;
              -webkit-border-radius: 1.6em;
              -moz-border-radius: 1.6em;
              -o-border-radius: 1.6em; }
        .wapper .catelog .list ul li.spTop12 {
          margin-top: 1em; }
        .wapper .catelog .list ul li.spTop21 {
          margin-top: 1.75em; }
    .wapper .catelog .tip {
      margin-top: 1.66667em; }
      .wapper .catelog .tip p {
        text-align: center;
        color: #666666;
        font-size: 0.91667em;
        text-align: center; }
  .wapper .showpretty {
    z-index: 700;
    opcity: 0;
    display: none;
    width: 100%;
    padding-bottom: 15px; }
    .wapper .showpretty .title {
      background: url("../images/showPrettyTop.png") no-repeat;
      background-size: 100% auto;
      padding-top: 35%; }
      .wapper .showpretty .title .titleImg {
        text-align: center; }
        .wapper .showpretty .title .titleImg img {
          width: 50.46875%; }
      .wapper .showpretty .title p {
        width: 85%;
        color: #756f70;
        margin: 1.08333em auto 0; }
        .wapper .showpretty .title p strong {
          font-weight: normal;
          color: #df4b5f; }
    .wapper .showpretty .items {
      position: relative;
      background-position: center;
      width: 85%;
      margin: 5px auto 0;
      text-align: center;
      padding-top: 22.89377%; }
      .wapper .showpretty .items .bg {
        width: 53.49265%; }
      .wapper .showpretty .items .item {
        position: absolute; }
      .wapper .showpretty .items .item1 {
        top: 0;
        left: -3.125%;
        width: 43.19853%; }
        .wapper .showpretty .items .item1 .go-detail {
          top: 18.60465%;
          left: 76.59574%; }
      .wapper .showpretty .items .item2 {
        top: 51.02041%;
        left: -3.125%;
        width: 43.75%; }
        .wapper .showpretty .items .item2 .go-detail {
          top: 36.88525%;
          left: 100%; }
      .wapper .showpretty .items .item3 {
        top: 17.0068%;
        left: 58.82353%;
        width: 48.1685%; }
        .wapper .showpretty .items .item3 .go-detail {
          top: 34.86239%;
          left: -7.98479%; }
  .wapper .shampoo {
    opacity: 0;
    display: none;
    z-index: 700;
    width: 100%;
    top: 0;
    bottom: 0; }
    .wapper .shampoo .item1 {
      padding-top: 0.91667em;
      position: relative; }
      .wapper .shampoo .item1 .go-detail {
        left: 71.09375%;
        bottom: -13px; }
      .wapper .shampoo .item1 .r-pink {
        width: 15.9375%;
        padding-bottom: 15.9375%;
        top: 0.70833em;
        right: 28px;
        position: absolute;
        background: #ffb3fb;
        opacity: 0.3;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%; }
      .wapper .shampoo .item1 .item-detail {
        width: 86.875%;
        margin-left: 3.07692%; }
      .wapper .shampoo .item1 .text1 {
        width: 69.0625%;
        left: 0;
        position: absolute;
        bottom: -57.08333%; }
    .wapper .shampoo .item2 {
      margin-top: 28.125%;
      position: relative; }
      .wapper .shampoo .item2 .go-detail {
        left: 33.125%;
        top: 21.68675%; }
      .wapper .shampoo .item2 .item-detail {
        width: 75.78125%;
        float: right; }
      .wapper .shampoo .item2 .r-green {
        width: 18.59375%;
        padding-bottom: 18.59375%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        top: 18.07229%;
        left: 1.33333em;
        background: #daffa4;
        opacity: 0.6;
        position: absolute;
        z-index: -1; }
  .wapper .tonic {
    opacity: 0;
    display: none;
    z-index: 700;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #eff1dc;
    overflow-y: auto; }
    .wapper .tonic .contentbg {
      background: #eff1dc; }
      .wapper .tonic .contentbg .title {
        position: relative;
        width: 100%; }
        .wapper .tonic .contentbg .title .tonaic-g1 {
          left: 74.0625%;
          top: 40.78125%; }
        .wapper .tonic .contentbg .title .tonaic-g2 {
          left: 4.375%;
          top: 71.71875%; }
        .wapper .tonic .contentbg .title .tonaic-g3 {
          left: 45%;
          top: 82.03125%; }
        .wapper .tonic .contentbg .title .tonaic-g4 {
          left: 77.8125%;
          top: 89.6875%; }
      .wapper .tonic .contentbg .intro {
        text-align: center; }
        .wapper .tonic .contentbg .intro h1 {
          color: #5e3a3a;
          font-size: 1.5em;
          font-family: "Microsoft Yahei";
          margin-bottom: 0.375em; }
        .wapper .tonic .contentbg .intro p {
          font-size: 1em;
          line-height: 1.5em; }
  .wapper .cup {
    opacity: 0;
    display: none;
    z-index: 700;
    width: 100%;
    top: 0;
    bottom: 0;
    background: url("../images/cup-bg.png") no-repeat;
    background-size: 100% 100%; }
    .wapper .cup .text {
      position: absolute;
      left: 53.59375%;
      top: 29.53629%;
      text-align: right;
      width: 22.1875%; }
      .wapper .cup .text p {
        margin-bottom: 0.29167em;
        opacity: 0; }
      .wapper .cup .text .t1 {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      .wapper .cup .text .t2 {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .wapper .cup .text .t3 {
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out; }
    .wapper .cup .cup-go1 {
      left: 35.3125%;
      top: 33.26613%;
      position: absolute; }
    .wapper .cup .cup-go2 {
      left: 60.625%;
      top: 55.64516%;
      position: absolute; }
  .wapper .snacks {
    opacity: 0;
    display: none;
    z-index: 700;
    width: 100%;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4));
    background: -moz-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4));
    background: -o-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4)); }
    .wapper .snacks .title img {
      width: 100%; }
    .wapper .snacks .snack-content {
      padding-top: 2em; }
      .wapper .snacks .snack-content .item1 {
        position: relative; }
        .wapper .snacks .snack-content .item1 .ins-text {
          width: 47.65625%;
          padding-left: 2.1875%; }
          .wapper .snacks .snack-content .item1 .ins-text .ins-title {
            width: 65.90164%; }
          .wapper .snacks .snack-content .item1 .ins-text pre {
            font-size: 1em;
            color: #792c4e;
            line-height: 1.6em;
            padding: .3em 0 0 .2em; }
        .wapper .snacks .snack-content .item1 .snacks-item-1 {
          width: 51.875%;
          position: absolute;
          right: 0;
          top: 0.41667em; }
          .wapper .snacks .snack-content .item1 .snacks-item-1 span {
            position: absolute; }
          .wapper .snacks .snack-content .item1 .snacks-item-1 .snack-item1-g1 {
            top: 57%;
            left: 4%; }
          .wapper .snacks .snack-content .item1 .snacks-item-1 .snack-item1-g2 {
            top: 6%;
            left: 75%; }
      .wapper .snacks .snack-content .item2 {
        padding-top: 0.41667em; }
        .wapper .snacks .snack-content .item2 .item2-1 {
          width: 48.90625%;
          float: left;
          position: relative; }
          .wapper .snacks .snack-content .item2 .item2-1 .snack-item2-g1 {
            top: 75%;
            left: 48%; }
        .wapper .snacks .snack-content .item2 .item2-2 {
          position: relative;
          width: 48.4375%;
          float: right;
          padding-top: 26.12903%; }
          .wapper .snacks .snack-content .item2 .item2-2 .snack-item2-g2 {
            top: 75%;
            left: 1%; }
  .wapper .bottomBar {
    position: fixed;
    bottom: 0;
    height: 39px;
    width: 100%;
    z-index: 1000; }
    .wapper .bottomBar .homeBtn {
      width: 39px;
      height: 39px;
      display: block;
      float: left;
      background: url("../images/homeBtn.png");
      background-size: 100%; }
    .wapper .bottomBar .middle {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      margin-left: 39px;
      margin-right: 39px;
      height: 38px;
      padding-top: 1px; }
      .wapper .bottomBar .middle .progress {
        margin: 19px auto 0px;
        width: 89%;
        height: 1px;
        background: #8e8c8c;
        position: relative; }
        .wapper .bottomBar .middle .progress .btn {
          height: 18px;
          width: 18px;
          position: absolute;
          top: -8px;
          left: -9px;
          border-radius: 9px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          -o-border-radius: 9px;
          border-radius: 9px;
          background: #eae9e9;
          box-shadow: rgba(4, 0, 0, 0.75) 0 0 5px 0;
          -webkit-box-shadow: rgba(4, 0, 0, 0.75) 0 0 5px 0;
          -moz-box-shadow: rgba(4, 0, 0, 0.75) 0 0 5px 0;
          -o-box-shadow: rgba(4, 0, 0, 0.75) 0 0 5px 0;
          box-shadow: rgba(4, 0, 0, 0.75) 0 0 5px 0; }
    .wapper .bottomBar .fav {
      width: 39px;
      height: 39px;
      display: block;
      float: right;
      background: url("../images/favBtn.png");
      background-size: 100%; }

@media screen and (min-device-width: 321px) {
  .content img {
    width: 87.34375%; } }
