.add-item {
  background: #fff; }
  .add-item .header {
    font-family: "Microsoft Yahei";
    position: relative; }
    .add-item .header ul {
      width: 100%;
      border-bottom: 1px solid #dedede; }
      .add-item .header ul li {
        float: left;
        height: 77px;
        line-height: 77px;
        font-size: 1.5em;
        color: #252525;
        width: 300px;
        text-align: center; }
      .add-item .header ul .current {
        color: #c4a16e;
        font-size: 2.5em; }
    .add-item .header .bottomBorder {
      height: 3px;
      width: 300px;
      background-color: #c4a16e;
      position: absolute;
      bottom: 0;
      left: 0; }
  .add-item .operate {
    margin: 0 124px 0 120px;
    font-size: 1.16667em;
    color: #252525; }
    .add-item .operate .title {
      float: left;
      width: 56px; }
    .add-item .operate .operate-box {
      margin-left: 71px;
      margin-top: 77px; }
      .add-item .operate .operate-box .box {
        border: 1px solid #edebeb;
        min-height: 201px;
        padding: 4px 5px; }
        .add-item .operate .operate-box .box span {
          vertical-align: middle; }
        .add-item .operate .operate-box .box .p-box {
          position: relative;
          display: inline-block; }
          .add-item .operate .operate-box .box .p-box input {
            display: none;
            position: absolute;
            left: 37px;
            top: 19px;
            background-color: #F2F2F2;
            border: 0 none;
            font-family: "microsoft yahei";
            vertical-align: middle; }
          .add-item .operate .operate-box .box .p-box .spec-item {
            display: inline-block;
            padding: 12px 30px;
            background: #f2f2f2;
            margin: 8px 7px;
            line-height: 14px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            -ms-border-radius: 20px; }
          .add-item .operate .operate-box .box .p-box i {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            background: #000;
            border: 1px solid #C28787;
            color: #F5ECEC;
            position: absolute;
            right: 7px;
            top: 4px;
            text-align: center;
            line-height: 10px;
            display: none; }
        .add-item .operate .operate-box .box .addBtn {
          display: inline-block;
          width: 86px;
          height: 40px;
          background: #f2f2f2;
          margin: 8px 7px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          -ms-border-radius: 20px;
          font-size: 1.83333em;
          text-align: center;
          background-image: url(../images/add-item-icon.gif);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          cursor: pointer; }
        .add-item .operate .operate-box .box .edit-add-item {
          background-image: none; }
      .add-item .operate .operate-box .bz {
        margin-top: 10px;
        font-size: 12px;
        color: #999999; }
        .add-item .operate .operate-box .bz .bz-title {
          float: left; }
        .add-item .operate .operate-box .bz .content {
          float: left; }
      .add-item .operate .operate-box .next-step .sub-btn {
        margin-top: 50px;
        margin-bottom: 50px;
        background: #c4a16e;
        width: 162px;
        height: 46px;
        color: #fff;
        font-size: 24px;
        border: 0 none;
        font-family: "Microsoft Yahei"; }
