$baseSize:12;
body{
	font-size:$baseSize+px;
	background: url(../images/bg.png); 
	background-position: center center;
}
.game-wait{
  background: rgba(0,0,0,.8);
  position: fixed;
  top:0;
  left:0;
  text-align:center;
  width:100%;
  height:100%;
  z-index: 9999;
  -webkit-transition:transform 1s ease-in-out;
  -moz-transition:transform 1s ease-in-out;
  -o-transition:transform 1s ease-in-out;
  -webkit-transform-origin:bottom center;
  -moz-transform-origin:bottom center;
  -o-transform-origin:bottom center;
  .info{
    display: inline-block;
    position: absolute;
    top:40%;
    color:#fff;
    left: 36%;
    text-shadow:0px 0px #ccc;
  }
}
.wrapper{
	.game-box{
		padding-top: 2em;
		position: relative;
		.balloon{
			width: (308/640)*100%;
			margin: 0 auto;
			text-align: center;
			position: relative;
			.tile-ballow{
				-webkit-transform-origin: bottom center;
				-moz-transform-origin: bottom center;
				-o-transform-origin: bottom center;

				-webkit-transition:transform .5s ease-in-out;
				-moz-transition:transform .5s ease-in-out;
				-o-transition:transform .5s ease-in-out;

				-webkit-transform:scale(.1);
				-moz-transform:scale(.1);
				-o-transform:scale(.1);
			}
			.flatBalloon{
				position: absolute;
				width: (49/308)*100%;
				bottom: -6%;
				left: 50%;
				margin-left: -12%;
			}
			.gas-port{
				position: absolute;
				width: (26/308)*100%;
				bottom: -6%;
				left: 50%;
				margin-left: -4%;
			}
		}
		.pump{
			width: (115/640)*100%;
			position: absolute;
			bottom: 0;
			right: (35/540)*100%;
			.pump-up{
                display: block;
                position: relative;
                z-index:100;
              transition: all 0.2s;
			}
			.pump-bottom{
              display: block;
              position: relative;
              z-index:200;
			}
		}
      .shivering{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/shivering_heart.png");
        top:0;
        background-size: 80% auto;
        background-repeat: no-repeat;
        background-position: center;
        span{
          display: block;
          position: absolute;
          -webkit-transition:all 1s ease-in-out;
          -moz-transition:all 1s ease-in-out;
          transition:all 1s ease-in-out;
        }
        .shi1{
          width: 10px;
          height: 6px;
          left: 48%;
          bottom: 10%;
          background: url("../images/shiverings.png") no-repeat;
          background-position: 0 0;

        }
        .shi1T{
          top: 37%;
          left: 37%;
          -webkit-transform: rotatez(45deg);
          -moz-transform: rotatez(45deg);
          transform: rotatez(45deg);
        }
        .shi2{
          left: 48%;
          bottom: 10%;
          width: 22px;
          height: 26px;
          background: url("../images/shiverings.png") no-repeat;
          background-position:0 -12px;
          background-size: 100%;
        }
        .shi2T{
          left: 25%;
          bottom: 33%;
        }
        .shi3{
          left: 48%;
          bottom: 10%;
          width: 16px;
          height: 40px;
          background: url(../images/shiverings.png) 0 -30px/100% no-repeat;
        }
        .shi3T{
          left: 40%;
          bottom: 12%;
          -webkit-transform:rotatez(90deg);
          -moz-transform: rotatez(90deg);
          transform: rotatez(90deg);
        }
        .shi4{
          left: 48%;
          bottom: 10%;
          width: 15px;
          height: 30px;
          background: url(../images/shiverings.png) 0 -54px/100% no-repeat;
        }
        .shi4T{
          left: 58%;
          bottom: 34%;
          -webkit-transform: rotatez(-75deg);
          -moz-transform: rotatez(-75deg);
          transform: rotatez(-75deg);
        }
        .shi5{
          left: 48%;
          bottom: 10%;
          width: 18px;
          height: 28px;
          background: url("../images/shiverings.png") no-repeat;
          background-position:0 -99px;
          background-size: 100%;
        }
        .shi5T{
          left: 57%;
          bottom: 5%;
          -webkit-transform: rotatez(-68deg);
          -moz-transform: rotatez(-68deg);
          transform: rotatez(-68deg);
        }
        .shi6{
          width: 10px;
          height: 6px;
          left: 48%;
          bottom: 10%;
          background: url("../images/shiverings.png") no-repeat;
          background-position: 0 0;
        }
        .shi6T{
          top: 73%;
          left: 68%;
          -webkit-transform: rotatez(-23deg);
          -moz-transform: rotatez(-23deg);
          transform: rotatez(-23deg);
        }
      }
	}
}