//$
@mixin borderRaduis($radius) {
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  -o-border-radius:$radius;
  -ms-border-radius:$radius;
}
@mixin size($w,$h) {
  width:$w;
  height:$h;
}
$baseSize:12;
$font18:(18/$baseSize)+em;
$color_252525:#252525;

$font30:(30/$baseSize)+em;
$color_c4a16e:#c4a16e;

$font14:(14/$baseSize)+em;
$color_edebeb:#edebeb;

$color_999999:#999999;
$color_f2f2f2:#f2f2f2;

$font-famiy-yahie:"Microsoft Yahei";
.add-item{
  background: #fff;
  .header{
    font-family:$font-famiy-yahie;
    position: relative;
    ul{
      width: 100%;
      border-bottom:1px solid #dedede;
      li{
        float: left;
        height:77px;
        line-height: 77px;
        font-size: $font18;
        color:$color_252525;
        width: 300px;
        text-align: center;
      }
      .current{
        color: $color_c4a16e;
        font-size:$font30;
      }
    }
    .bottomBorder{
      height: 3px;
      width: 300px;
      background-color: $color_c4a16e;
      position: absolute;
      bottom:0;
      left:0;
    }
  }
  .operate{
    margin:0 124px 0 120px;
    font-size:$font14;
    color: $color_252525;
    .title{
      float: left;
      width: 56px;
    }
    .operate-box{
      margin-left:71px;
      margin-top:77px;
      .box{
        border: 1px solid $color_edebeb;
        min-height:201px;
        padding: 4px 5px;
        span{
          vertical-align: middle;
        }
        .p-box{
          position: relative;
          display:inline-block;
          input{
            display: none;
            position: absolute;
            left: 37px;
            top: 19px;
            background-color: #F2F2F2;
            border: 0 none;
            font-family: "microsoft yahei";
            vertical-align: middle;
          }
          .spec-item{
            display: inline-block;
            padding: 12px 30px;
            background: $color_f2f2f2;
            margin: 8px 7px;
            line-height: 14px;
            @include borderRaduis(20px);
          }
          i{
            width: 10px;
            height: 10px;
            @include borderRaduis(5px);
            background: #000;
            border: 1px solid #C28787;
            color: #F5ECEC;
            position: absolute;
            right: 7px;
            top: 4px;
            text-align: center;
            line-height: 10px;
            display: none;
          }
        }
        .addBtn{
          display: inline-block;
          @include size(86px,40px);
          background: $color_f2f2f2;
          margin: 8px 7px;
          @include borderRaduis(20px);
          font-size: (22/$baseSize)+em;
          text-align: center;
          background-image: url(../images/add-item-icon.gif);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          cursor: pointer;
        }
        .edit-add-item{
          background-image: none;
        }
      }
      .bz{
        margin-top: 10px;
        font-size: $baseSize+px;
        color: $color_999999;
        .bz-title{
          float: left;
        }
        .content{
          float: left;
        }
      }
    }
  }

}