@import "base.scss";
.products {
  font-family: $font-famiy-yahie;
  margin-top: 41px;
  margin-left: 29px;
  font-size: 14px;
  .t-top {
    margin-bottom: 14px;
  }
  .tool {
    span {
      width: 80px;
      height: 40px;
      font-size: 14px;
      color: #fff;
      margin-right: 10px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
    .on-shelf {
      background-color: #c5a16f;
    }
    .off-shelf {
      background-color: #9bc46e;
    }
    .del {
      background-color: #de7676;
    }
  }
  .p-content {
    border-top: 1px solid #dedede;
    span.check {
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 1px solid #c5a16f;
      background-color: #fff;
      margin: 0px 22px 0px 8px;
    }
    span.check-active {
      width: 14px;
      height: 14px;
      display: inline-block;
      background-color: #c5a16f;
    }
    table {
      width: 100%;
      tr {
        th {
          font-weight: normal;
          background-color: #f2f2f2;
          color: #252525;
          height: 30px;
          line-height: 30px;
          text-align: left;
        }
        .first{
          width: 44px;
        }
        td {
          border-bottom: 1px solid #f2f2f2;
          .img {
            width: 150px;
            height: 120px;
            border: 1px solid #f2f2f2;
            margin: 22px 18px 22px 0px;
            text-align: center;
            font-size: 0;
            cursor: pointer;
            span {
              display: table-cell;
              vertical-align: middle;
              width: 150px;
              height: 120px;
            }
          }
          .edit-t{
            span{
              width: 24px;
              height: 23px;
              display: inline-block;
              margin-right: 26px;
            }
            .edit{
              background: url("../images/icons.png") no-repeat;
              background-position: 0px 0px;
            }
            .on-s{
              background: url("../images/icons.png") no-repeat;
              background-position: 0px -33px;
            }
            .off-s{
              background: url("../images/icons.png") no-repeat;
              background-position: 0px -66px;
            }
            .del{
              background: url("../images/icons.png") no-repeat;
              background-position: 0px -99px;
            }
          }
        }
      }
    }
  }
  .bottom{
    margin-top:23px;
    margin-bottom:23px;
    .t-bottom{
      float:left;
    }
    /*分页*/
    .pagination{float: right; margin-top: 3px;margin-right: 37px;}
    .pagination .page-wrap{display: inline-block; width: 30px; height: 30px; line-height: 30px; position: relative; text-align: center; vertical-align: middle;}
    .pagination .page-split{display: inline-block;width: 15px; height: 30px; line-height: 30px; vertical-align: middle;}
    .pagination .page-wrap a{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
    .pagination .cur a{background-color: #c4a16e; color: #fff;}
    .pagination .page-wrap a:hover{background-color: #c4a16e; color: #fff;}
    .pagination .page-previous,.pagination .page-next{ text-indent: -999em;}
    .pagination .page-previous{background:url(../images/page-previous.png) center center no-repeat #f2f2f2;}
    .pagination .page-next{background:url(../images/page-next.png) center center no-repeat #f2f2f2;}
    .pagination .page-previous a:hover{background:url(../images/page-previous-over.png) center center no-repeat #c4a16e;}
    .pagination .page-next a:hover{background:url(../images/page-next-over.png) center center no-repeat #c4a16e;}
  }
}