$baseSize:12;
body,html{
  width: 100%;
}
.wapper{
  -webkit-perspective: 2000;
  -moz-perspective: 2000;
  -o-perspective: 2000;
  perspective: 2000;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  .page{
    position: absolute;
    width: 100%;
    background: #fff;
    width:30%;
    //    padding-bottom: 39px;
/*     -webkit-transition:all .5s ease-in;
-moz-transition:all .5s ease-in;
-o-transition:all .5s ease-in;
transition:all .5s ease-in; */
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    -o-transform-origin:left center;
    transform-origin:left center;
    .go-detail{
      width: 28px;
      height: 28px;
      text-indent: -200px;
      background-image: url("../images/detailBtn.png");
      background-position:  center center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      overflow: hidden;
      cursor: pointer;
      -webkit-transition:all 1.5s ease-in-out;
      -moz-transition:all 1.5s ease-in-out;
      -o-transition:all 1.5s ease-in-out;
      transition:all 1.5s ease-in-out;
    }
    .go-detail-hover{
      -webkit-transform:rotateZ(360deg);
      -moz-transform:rotateZ(360deg);
      -o-transform:rotateZ(360deg);
      transform:rotateZ(360deg);
    }
  }
  .cover{
    z-index:1200;
    background-color: #f6f1de;
    background-image:url("../images/sgCoverBg.jpg");
    background-repeat:  repeat-y;
    background-position: top right;
    background-size: (443/640)*100% auto;
    -moz-transform-origin:left center;
    -webkit-transform-origin:left center;
    -o-transform-origin:left center;
    transform-origin:left center;
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    .title{
      text-align: center;
      padding-top: (18/24)+em;
      width: 100%;
      img{
        width: (550/640)*100%;
      }
    }
    .content{
      margin-top:(16/24)+em;
      text-align: left;
      width: 100%;
      img{
        width: (609/640)*100%;
      }
    }
    .bottom{
      position:absolute;
      bottom:(18/24)+em;
      width: 100%;
      .logo{
        width: (195/640)*100%;
        bottom:0.3em;
        position: absolute;
        margin-left: (12/24)+em;
      }
      .text{
        float: right;
        vertical-align: bottom;
        text-align: right;
        margin-right: (19/24)+em;
        p{
          font-size: .7em;
          line-height: 2em;
          color: #000000;
        }
      }
    }
  }
  .scaleHidden{
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
  }
  .pages{
    z-index: 800;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    .pageBox{
      position: absolute;
      top:0;
      bottom: 0;
      width: 100%;
      overflow-y: auto;
    }
    .rightSlider{
      position: fixed;
      z-index:1100;
      width: 100%;
      top:0;
      bottom:0;
      .alphaBg{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
      }
      .detailConent{
        position: absolute;
        width: (402/640)*100%;
        height: 100%;
        overflow-y:auto;
        background-color: #fff;
        top:0;
        right:-(402/640)*100%;
        -moz-transform-origin:center right;
        -webkit-transform-origin:center right;
        -o-transform-origin:center right;
        transform-origin:center right;
        transition:all .5s ease-in-out;
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
        .closeBtn{
          width:41px;
          height:41px;
//          top:9px;
//          left:8px;
          position: absolute;
          text-align: center;
          vertical-align: middle;
          line-height: 41px;
          img{
             width: 50%;
             height:50%;
          }
        }
        .addFav{
          width: 44px;
          height: 44px;
          position: absolute;
          right: 5px;
          bottom:0px;
        }
        .prod{
          width:(250/402)*100%;
          margin:2.5em auto 0;
          line-height: 1.5em;
          font-size:1em;
          .pimg{
            img{
              width: 100%;
            }
          }
          .ptitle{
             font-size:(28/24)+em;
          }
          .pprice{
            strong{
              margin-left:.2em;
              color:#f29c07;
              font-size:(36/24)+em;
            }
          }
        }
        .ptext{
          margin: (15/24)+em 8px 0px;
          border-top:1px solid #ece9e9;
          padding-top: (10/24)+em;
          line-height: 1.5em;
          color:#8e8e8e;
          font-size: (22/24)+em;
          .dis{
            margin-top: (20/24)+em;
          }
        }
      }
    }
  }
  .favPage{
    position: absolute;
    z-index: 900;
    top:0;
    left:0;
    bottom: 0;
    overflow-y: hidden;
    width: 100%;
    -moz-transform-origin:center right;
    -webkit-transform-origin:center right;
    -o-transform-origin:center right;
    transform-origin:center right;
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg);
    -o-transform:rotateY(90deg);
    transform:rotateY(90deg);
    background-image: url("../images/fav-bg.png");
    background-repeat: repeat;
    .listbox{
      background-image: url("../images/fav-bg.png");
      background-repeat: repeat;
      overflow-y: auto;
      .list{
        li{
          width: 50%;
          float: left;
          font-size: 1em;
//          height: (294/24)+em;
          .box{
            position: relative;
            height: 100%;
            border-bottom: 1px solid #cdc8c8;
            .info{
              position: absolute;
              color: #000;
              text-align: right;
              .tr{
                font-size: (34/24)+em;
                color: #f9930e;
                i{
                  font-family: "Georgia";
                }
              }
            }
            img{
              width: 100%;
            }
          }

      }
        li:nth-child(1) .box{
          margin-right: (15/24)+em;
        }
        li:nth-child(2) .box{
          margin-left: (15/24)+em;
        }

      }
      .box1{
        .box{
          padding-top: (65/304)*100%;
          .info{
            top:(32/304)*100%;
            right:(10/24)+em;
          }
        }
      }
      .box2{
        .box{
          padding-top: (35/304)*100%;
          .info{
            top:(32/304)*100%;
            right:(10/24)+em;
          }
        }
      }
      .specail-li{
//        padding-left: (114/640)*100%;
        border-bottom: 1px solid #cdc8c8;
        padding-top: (32/24)+em;
        text-align: center;
        .spe-box{
          .img{
            img{width:100%}
            display: inline-block;
            width: (200/640)*100%
          }
          .info{
            display: inline-block;
            color: #000;
            top:(32/24)+em;
            right:(32/24)+em;
            margin-left: (20/24)+em;
            margin-top:(33/24)+em;
            .tr {
              font-size: (34/24)+em;
              margin-top: .2em;
              color: #f9930e;
              i {
                font-family: "Georgia";
              }
            }
          }
        }
      }
    }
  }
  .catelog{
    position: absolute;
    top:0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
  }
  .catelog{
    position: absolute;
    -moz-transform-origin:center left;
    -webkit-transform-origin:center left;
    -o-transform-origin:center left;
    transform-origin:center left;
    transition:transform .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
  }
  .catelog{
    z-index:900;
    background-color: #fff;
    .title{
      text-align: center;
      padding-top: (42/24)+em;
      width: (520/640)*100%;
      max-width: 260px;
      margin: 0 auto;
      position: relative;
      img.title-logo{
//        width: (500/640)*100%;
      }
      .title-content{
        position: absolute;
        vertical-align: top;
        transform-origin: top left;
        width:(15/520)*100%;
        right: -(20/520)*100%;
        -webkit-transform:rotateZ(-90deg);
        -moz-transform:rotateZ(-90deg);
        -o-transform:rotateZ(-90deg);
        transform:rotateZ(-90deg);
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
        transition:all .5s ease-in-out;
      }
      .c-rotate{
        -webkit-transform:rotateZ(0deg);
        -moz-transform:rotateZ(0deg);
        -o-transform:rotateZ(0deg);
        transform:rotateZ(0deg);
      }
    }
    .list{
      margin-top: 2.5em;
      font-size:$baseSize+px;
      text-align: center;
      position: relative;
      ul{
        margin:auto;
        width: 4em;
        li{
          margin-top: (34/24)+em;
          position: relative;
          .detail{
            font-size: 1em;
            padding: (7/12)+em 0;
            border: 1px solid #a09f9f;
            position: absolute;
            line-height: (16/12)+em;
            background-color: #fff;
            color:#5e5e5e;
          }
          .detail1{
            position: absolute;
            left:(80/24)+em;
            width:(160/24)+em;
            z-index: 50;
            top:-(19/24)+em;
            text-align: left;
            p{
              margin-left: (30/24)+em;
            }
          }
          .detail2{
            position: absolute;
            left:-(223/24)+em;
            width:(217/24)+em;
            z-index: 50;
            top:3%;
            text-align: right;
            p{
              margin-right: (18/24)+em;
            }
          }
          .detail3{
            position: absolute;
            left:-(237/24)+em;
            width:(231/24)+em;
            z-index: 50;
            top:17%;
            text-align: right;
            p{
              margin-right: (18/24)+em;
            }
          }
          .detail4{
            position: absolute;
            left:(80/24)+em;
            width:(239/24)+em;
            z-index: 50;
            top:-(19/24)+em;
            text-align: left;
            p{
              margin-left: (30/24)+em;
            }
          }
          .detail5{
            position: absolute;
            left:(80/24)+em;
            width:(158/24)+em;
            z-index: 50;
            top:16%;
            text-align: left;
            p{
              margin-left: (30/24)+em;
            }
          }
          .item-img{
            position: absolute;
            -webkit-transition:all 1s ease-in-out;
            -moz-transition:all 1s ease-in-out;
            -o-transition:all 1s ease-in-out;
            transition:all 1s ease-in-out;
          }
          .item-img1{
            top:1.3em;
            left: (54/24)+em;
            width: (266/24)+em;
            z-index: 40;
            max-width: 180px;
          }
          .item-img1Active{
            top:1.3em;
            left: (84/24)+em;
            width: (266/24)+em;
            z-index: 40;
            max-width: 180px;
            opacity: 1!important;
          }
          .item-img2{
            top:(8/12)+em;
            right: (29/24)+em;
            width: (208/24)+em;
            z-index: 70;
            top:-37%;
            max-width: 140px;
          }
          .item-img2Active{
            top:(8/12)+em;
            right: (69/24)+em;
            width: (208/24)+em;
            z-index: 70;
            top:-37%;
            max-width: 140px;
            opacity: 1!important;
          }
          .sn{
            z-index: 60;
            width: 4em;
            height: 4em;
            display: inline-block;
            text-align: center;
            font-size: 12px;
            position: relative;
            span{
              display: inline-block;
              height: 2em;
              width: 2em;
              background-color: #fff;
              font-size:1em;
              color: #797070;
              border:1px solid #797070;
              border-radius: 2em;
              -webkit-border-radius: 2em;
              -moz-border-radius: 2em;
              -o-border-radius: 2em;
              margin-top: 25%;
              line-height: 2em;
              -webkit-transition:all .5s ease-in-out;
              -moz-transition:all .5s ease-in-out;
              -o-transition:all .5s ease-in-out;
              transition:all .5s ease-in-out;
            }
            .special{
              margin-top: 0%;
              height: (46/30)+em;
              width: (46/30)+em;
              line-height: (46/30)+em;
              font-size:(60/24)+em;
              border-radius:1.6em;
              -webkit-border-radius:1.6em;
              -moz-border-radius:1.6em;
              -o-border-radius:1.6em;
            }
            .spanHover{
              background-color: #000;
              color: #fff;
              border:1px solid #000;
            }
          }
/*           .nr .spanHover{
    background-color: #fff;
    color: #797070; 
    border:1px solid #797070;
} */
        }
        li.spTop12{
          margin-top: (24/24)+em;
        }
        li.spTop21{
          margin-top: (42/24)+em;
        }
      }
    }
    .tip{
      margin-top: (40/24)+em;
      p{
        text-align: center;
        color: #666666;
        font-size: (22/24)+em;
        text-align: center;
      }
    }
  }
  .showpretty{
    z-index:700;
    // opcity:0;
    width: 100%;
    padding-bottom: 15px;
    .title{
      background-image: url("../images/showPrettyTop.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding-top:(224/640)*100%;
    .titleImg{
      text-align: center;
      img{
        width: (323/640)*100%;
      }
    }
    p{
      width: (544/640)*100%;
      color:#756f70;
      margin:(26/24)+em auto 0;
      strong{
        font-weight:normal;
        color: #df4b5f;
      }
    }
    }
    .items{
      position: relative;
      background-position: center;
      width: (544/640)*100%;
      margin:5px auto 0;
      text-align: center;
      padding-top: (125/546)*100%;
      .bg{
        width: (291/544)*100%;
      }
      .item{
        position: absolute;
      }
      .item1{
        top:0;
        left:(-17/544)*100%;
        width: (235/544)*100%;
        .go-detail{
          top:(40/215)*100%;
          left:(180/235)*100%;

        }
      }
      .item2{
        top:(300/588)*100%;
        left:(-17/544)*100%;
        width: (238/544)*100%;
        .go-detail{
          top:(90/244)*100%;
          left:(263/263)*100%;
        }
      }
      .item3{
        top:(100/588)*100%;
        left:(320/544)*100%;
        width: (263/546)*100%;
        .go-detail{
          top:(76/218)*100%;
          left:-(21/263)*100%;
        }
      }
    }
  }
  .shampoo{
    // opacity: 0;
    z-index: 690;
    width: 100%;
    top:0;
    bottom: 0;
    .item1{
      padding-top:(22/24)+em;
      position: relative;
      .go-detail{
        left: (455/640)*100%;
        bottom: -13px;
      }
      .r-pink{
        width: (102/640)*100%;
        padding-bottom: (102/640)*100%;
        top:(17/24)+em;
        right:28px;
        position: absolute;
        background-color:#ffb3fb;
        opacity:0.3;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .item-detail{
        width:(556/640)*100%;
        margin-left:(20/650)*100%;
      }
      .text1{
        width:(442/640)*100%;
        left:0;
        position:absolute;
        bottom:-(274/480)*100%;
      }
    }
    .item2{
      margin-top:(180/640)*100%;
      position: relative;
      .go-detail{
        left: (212/640)*100%;
        top:(72/332)*100%;

      }
      .item-detail{
        width:(485/640)*100%;
        float: right;
      }
      .r-green{
        width:(119/640)*100%;
        padding-bottom:(119/640)*100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        top:(60/332)*100%;
        left:(32/24)+em;
        background-color:#daffa4;
        opacity:0.6;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .tonic{
    // opacity: 0;
    z-index: 680;
    width: 100%;
    top:0;
    bottom: 0;
    background-color: #eff1dc;
    overflow-y: auto;
    .contentbg{
      background-color: #eff1dc;
      .title{
        position: relative;
        width: 100%;
        .tonaic-g1{
          left:(474/640)*100%;
          top:(261/640)*100%;
        }
        .tonaic-g2{
          left:(28/640)*100%;
          top:(459/640)*100%;
        }
        .tonaic-g3{
          left:(288/640)*100%;
          top:(525/640)*100%;
        }
        .tonaic-g4{
          left:(498/640)*100%;
          top:(574/640)*100%;
        }
      }
      .intro{
        text-align:center;
        h1{
          color: #5e3a3a;
          font-size: (36/24)+em;
          font-family:"Microsoft Yahei";
          margin-bottom: (9/24)+em;
        }
        p{
          font-size: 1em;
          line-height: 1.5em;
        }
    }
    }
  }
  .cup{
    // opacity: 0;
    position: absolute;
    z-index: 670;
    width: 100%;
    top:0;
    bottom: 0;
    background-image: url("../images/cup-bg.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    .text{
      position:absolute;
      left:(343/640)*100%;
      top:(293/992)*100%;
      text-align: right;
      width:(142/640)*100%;
      p{
        margin-bottom: (7/24)+em;
        opacity: 0;
      }
      .t1{
        -webkit-transition:all .5s ease-in-out;
        -moz-transition:all .5s ease-in-out;
        -o-transition:all .5s ease-in-out;
        transition:all .5s ease-in-out;
      }
      .t2{
        -webkit-transition:all 1s ease-in-out;
        -moz-transition:all 1s ease-in-out;
        -o-transition:all 1s ease-in-out;
        transition:all 1s ease-in-out;
      }
      .t3{
        -webkit-transition:all 1.5s ease-in-out;
        -moz-transition:all 1.5s ease-in-out;
        -o-transition:all 1.5s ease-in-out;
        transition:all 1.5s ease-in-out;
      }
    }
    .cup-go1{
      left:(226/640)*100%;
      top:(330/992)*100%;
      position: absolute;
    }
    .cup-go2{
      left:(388/640)*100%;
      top:(552/992)*100%;
      position: absolute;
    }
  }
  .snacks{
    // opacity: 0;
    z-index: 660;
    width: 100%;
    top:0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4));
    background: -moz-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4));
    background: -o-gradient(linear, left top, left bottom, from(#f3d0e4), to(#fce8f4));
    .title{
      img{
        width: 100%;
      }
    }
    .snack-content{
      padding-top:(48/24)+em;
      .item1{
        position: relative;
        .ins-text{
          width: (305/640)*100%;
          padding-left:(14/640)*100%;
          .ins-title{
            width: (201/305)*100%;
          }
          pre{
            font-size: 1em;
            color: #792c4e;
            line-height: 1.6em;
            padding: .3em 0 0 .2em;
          }
        }
        .snacks-item-1{
          width: (332/640)*100%;
          position: absolute;
          right: 0;
          top:(10/24)+em;
          span{
            position: absolute;
          }
          .snack-item1-g1{
            top: 57%;
            left: 4%;;
          }
          .snack-item1-g2{
            top: 6%;
            left: 75%;
          }
        }
      }
      .item2{
        padding-top: (10/24)+em;
        .item2-1{
          width: (313/640)*100%;
          float:left;
          position: relative;
          .snack-item2-g1{
            top: 75%;
            left: 48%;
          }
        }
        .item2-2{
          position: relative;
          width: (310/640)*100%;
          float:right;
          padding-top: (81/310)*100%;
          .snack-item2-g2{
            top: 75%;
            left: 1%;
          }
        }
      }
    }
  }
  .bottomBar{
    position: fixed;
    bottom: 0;
    height: 39px;
    width: 100%;
    z-index: 1000;
    .homeBtn{
      width: 39px;
      height: 39px;
      display: block;
      float: left;
      background-image: url("../images/homeBtn.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .middle{
      border-left:1px solid #fff;
      border-right:1px solid #fff;
      margin-left: 39px;
      margin-right: 39px;
      height: 38px;
      padding-top: 1px;
      .progress{
        margin: 19px auto 0px;
        width: 89%;
        height: 1px;
        background-color: #8e8c8c;
        position: relative;
        .btn{
          height: 30px;
          width: 30px;
          position: absolute;
          text-align: center;
          line-height: 30px;
          top:-14px;
          left:-15px;
          .btnin{
            height: 18px;
            width: 18px;
            display: inline-block;
            margin-top: 6px;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -o-border-radius: 9px;
            border-radius: 9px;
            background-color: #eae9e9;
            box-shadow: rgba(4,0,0,.75) 0 0 5px 0;
            -webkit-box-shadow: rgba(4,0,0,.75) 0 0 5px 0;
            -moz-box-shadow: rgba(4,0,0,.75) 0 0 5px 0;
            -o-box-shadow: rgba(4,0,0,.75) 0 0 5px 0;
            box-shadow: rgba(4,0,0,.75) 0 0 5px 0;
          }
        }

      }
    }
    .fav{
      width: 39px;
      height: 39px;
      display: block;
      float: right;
      background-image: url("../images/favBtn.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
@media screen and (min-device-width:321px){
  .content img{
    width: (559/640)*100%;
  }
}
 @media screen and (min-width:640px){
  .wapper{
    width: 640px;
    left:50%;
    margin-left: -320px;
  }
}